// colores base
$blue: #003a70;
$blue-dark: #002a49;
$blue-ligth: #00a0df;
$gray-ligth: #cacaca;

//   color: #373736;
// color: #efefef
//   color: #000000;

// fuente
$font-montserrat: "Montserrat";
$font-gotham: "Gotham";

$xs: 0;
$sm: 425px;
$md: 768px;
$lg: 1024px;
$xl: 1440px;
