@import "./partials/reset";
@import "./partials/my-variabls";
@import "./partials/fonts";

@import "./partials/standard";
@import "./coponents/suscribe";

.v-application.v-application--is-ltr.theme--light {
  // background-image: url("@/assets/img/9-IniciarSesión.png");
  // background-position: top center;
  // height: 3000px;
  // background-color: orange;
  // z-index: 100;
}

.content.content-box {
  width: 73%;
  height: 100%;
}

.content {
  width: 95%;
  // border: 1px solid red;
  // background-color: purple;
  margin: 0 auto;
  height: 100%;
}

@media screen and (min-width: 425px) {
  .content {
    width: 85%;
    // border: 1px solid yellow;
  }
}
@media screen and (min-width: 768px) {
  .content {
    width: 80%;
    // border: 1px solid peru;
  }
}
@media screen and (min-width: 1024px) {
  .content {
    width: 76%;
    // border: 1px solid orange;
  }
}
// components
